:root {
  --near-black: #121814;
  --pine: #263727;
  --brick: #701716;
  --crimson: #c10f17;
}

/* Reusable classes */
.bg-pine {
  background: var(--pine);
}

.bg-dark {
  background: var(--near-black);
}

.bg-brick {
  background: var(--brick);
}

.partial-width {
  max-width: 32rem;
  margin: 0 auto;
}

.full-width {
  width: 100%;
}

.content-block {
  box-sizing: border-box;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

/* specific elements */
body {
  background-color: var(--pine);
  color: white;
  font-family: "Volkhov", serif;
  margin: 0;
  text-align: center;
}

#snow-fab {
  background: var(--crimson);
  padding: 0.825rem;
  border-radius: 6.25rem;
  box-shadow: 0px 2px 24px 0px #fff;
  border: none;
  height: 4rem;
  width: 4rem;
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  transition: 0.2s;
}

#snow-fab:active {
  background: var(--brick);
  transition: 0.2s;
  cursor: pointer;
}

@media (hover: hover) {
  #snow-fab:hover {
    background: var(--brick);
    transition: 0.2s;
    cursor: pointer;
  }
}

main {
  margin: 0;
}

.fit-height {
  height: fit-content;
}

h1,
h2,
h3 {
  font-size: 1rem;
  font-weight: 400;
  margin-block: 0;
}

ul {
  display: flex;
  list-style: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  font-style: italic;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

li a,
li a:visited,
a,
a:visited {
  color: white;
  text-decoration: underline;
}

li a:hover,
a:hover,
li a:focus-visible,
a:focus-visible {
  text-decoration: underline wavy;
  outline: none;
}

footer {
  box-sizing: border-box;
  padding: 2rem 1rem 4rem;
}

#hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.hero-banner {
  background-image: url("assets/hero.jpg");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
  width: 100%;
}

.hero-banner img {
  width: 100%;
}

#greeting {
  flex: 1 0 0;
}

#greeting img {
  max-width: 70%;
}

/* #community {
} */

#add-note,
#submit {
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-size: 1rem;
  width: 100%;
  max-width: 32rem;
  padding: 1rem 1.5rem;
  border-radius: 6.25rem;
  background: var(--near-black);
  color: white;
  border: none;
  box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.35);
}

#add-note:hover,
#add-note:active,
#submit:hover,
#submit:active {
  background: var(--pine);
  transition: 0.2s;
  cursor: pointer;
}

#comment-list {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  width: 100%;
  gap: 1rem;
}

.comment {
  display: flex;
  padding: 1rem 2rem;
  background: white;
  border-radius: 3rem;
  box-shadow: 0px 0px 4px 0px rgba(18, 24, 20, 0.35);
  color: var(--pine);
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
  flex-grow: 1;
}

.comment-name {
  text-align: left;
  font-style: italic;
  align-self: stretch;
}

.comment-message {
  text-align: left;
  align-self: stretch;
}

/* Modal stuff */
#comment-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  padding: 2rem 1rem;
  box-sizing: border-box;
  z-index: 101;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  width: 100%;
}

.modal-content form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
  width: 100%;
}

.modal-content form > * {
  align-self: stretch;
}

.modal-content form input,
.modal-content form textarea {
  font-family: "Volkhov", serif;
  font-size: 1rem;
  margin-bottom: 2rem;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  background: #fff;
  border: none;
  box-shadow: 0px 0px 4px 0px rgba(18, 24, 20, 0.35);
}

.modal-content form input:focus-visible,
.modal-content form textarea:focus-visible,
button:focus {
  outline: 1px dashed white;
  outline-offset: 2px;
}

.modal-content form label {
  text-align: left;
  font-size: 0.75rem;
}

#close {
  background: var(--near-black);
  border: none;
  border-radius: 6.25rem;
  height: 3rem;
  width: 3rem;
  padding: 0;
}

#close:hover,
#close:active {
  background: var(--pine);
  cursor: pointer;
}

/* cindy recap specific */
.author {
  font-style: italic;
}

p {
  font-size: 0.75rem;
  line-height: 166.667%;
  margin-block-start: 1rem;
  margin-block-end: 0;
  text-align: left;
  width: 100%;
}

#journal h2 {
  font-size: 0.75rem;
}

.journal-photo {
  max-width: 32rem;
  margin-top: 1rem;
}

.journal-photo img {
  width: 100%;
  border-radius: 1rem;
}
.journal-photo .carousel {
    width: 100%;
}

.journal-photo .carousel img {
    width: unset;
}

.journal-photo .caption {
  font-size: 0.75rem;
  line-height: 166.667%;
  font-style: italic;
  padding-top: 0.5rem;
}

.video-embed {
    max-width: 32rem;
    width: 100%;
    min-height: 16rem;
    margin-top: 1rem;
    border-radius: 1rem;
}


.carousel {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 32rem;
  overflow-x: scroll;
  gap: 1rem;
  /* padding-top: 1rem; */
  padding-bottom: 1rem;
}

.carousel img {
  height: 24rem;
  border-radius: 0.5rem;
}