:root {
  --midnight: #0b121c;
  --night-sky: #182841;
  --twilight: #2b4867;
  --cloud: #fcf8fa;

  --night-sky-80: rgba(24, 40, 65, 0.8);

  --rudolph: #c7202d;
  --brick: #a11f25;

  --gold-star: #cbb571;
  --reindeer: #b15f28;
  --bark: #624524;
  --dust: #7c6e6a;
}

/* Reusable classes */

.font-shantell-sans {
  font-family: "Shantell Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "BNCE" 30, "INFM" 50, "SPAC" 0;
}

.bg-midnight {
  background: var(--midnight);
}

.bg-night-sky {
  background: var(--night-sky);
}

.bg-twilight {
  background: var(--twilight);
}

.partial-width {
  max-width: 32rem;
  margin: 0 auto;
}

.full-width {
  width: 100%;
}

.hidden {
  display: none;
}

.content-block {
  box-sizing: border-box;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

/* specific elements */
html {
  height: 100vh;
}

body {
  background-color: var(--night-sky);
  color: white;
  font-family: "Inclusive Sans", sans-serif;
  margin: 0;
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

#snow-fab {
  font-size: 0.75rem;
  color: var(--cloud);
  background: var(--twilight);
  box-shadow: 0px 4px 0px 0px var(--midnight);
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
  border: none;
  position: fixed;
  bottom: 1.75rem;
  right: 1.75rem;
  transition: 0.2s;
}

#snow-fab:active {
  /* background: var(--night-sky); */
  box-shadow: 0px 8px 0px 0px var(--midnight);
  transition: 0.2s;
  cursor: pointer;
}

@media (hover: hover) {
  #snow-fab:hover {
    background: linear-gradient(
        0deg,
        var(--night-sky-80) 0%,
        var(--night-sky-80) 100%
      ),
      var(--twilight, #2b4867);
    box-shadow: 0px 8px 0px 0px var(--midnight);
    transition: 0.5s;
    cursor: pointer;
    bottom: 2rem;
  }
}

.fit-height {
  height: fit-content;
}

h1,
h2,
h3 {
  font-size: 1rem;
  font-weight: 400;
  margin-block: 0;
  font-family: "Shantell Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "BNCE" 30, "INFM" 50, "SPAC" 0;
}

ul {
  display: flex;
  list-style: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  font-style: italic;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

li a,
li a:visited,
a,
a:visited {
  color: white;
  text-decoration: underline;
}

li a:hover,
a:hover,
li a:focus-visible,
a:focus-visible {
  text-decoration: underline wavy;
  outline: none;
}

footer {
  box-sizing: border-box;
  padding: 2rem 1rem 4rem;
}

#hero {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.hero-banner {
  background-image: url("assets-2023/hero.jpg");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center;
  width: 100%;
}

.hero-banner img {
  width: 100%;
}

#greeting {
  flex: 1 0 0;
}

#greeting img {
  max-width: 70%;
}

/* cindy recap specific */
.author {
  font-style: italic;
}

p {
  font-size: 0.75rem;
  line-height: 166.667%;
  margin-block-start: 1rem;
  margin-block-end: 0;
  text-align: left;
  width: 100%;
}

#journal h2 {
  font-size: 0.75rem;
}

.journal-section {
  width: 100%;
}

.journal-photo {
  max-width: 32rem;
  margin-top: 1rem;
}

.journal-photo img {
  width: 100%;
  border-radius: 1rem;
}

.journal-photo .carousel {
  width: 100%;
}

.journal-photo .carousel img {
  width: unset;
}

.journal-photo .caption {
  font-size: 0.75rem;
  line-height: 166.667%;
  font-style: italic;
  padding-top: 0.5rem;
}

.video-embed {
  max-width: 32rem;
  width: 100%;
  min-height: 16rem;
  margin-top: 1rem;
  border-radius: 1rem;
}

.carousel {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 32rem;
  overflow-x: scroll;
  gap: 1rem;
  /* padding-top: 1rem; */
  padding-bottom: 1rem;
}

.carousel img {
  height: 24rem;
  border-radius: 0.5rem;
}
