:root {
  --midnight: #0b121c;
  --night-sky: #182841;
  --twilight: #2b4867;
  --cloud: #fcf8fa;

  --rudolph: #c7202d;
  --brick: #871016;

  --gold-star: #cbb571;
  --reindeer: #b15f28;
  --bark: #624524;
  --dust: #7c6e6a;

  --midnight-60: rgba(10, 18, 28, 0.6);
  --night-sky-80: rgba(24, 40, 65, 0.8);
  --night-sky-30: rgba(24, 40, 65, 0.3);
  --brick-50: rgba(138, 15, 21, 0.5);
}

/* Reusable classes */

.font-shantell-sans {
  font-family: "Shantell Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "BNCE" 30, "INFM" 50, "SPAC" 0;
}

.italic {
    font-style: italic;
}

.bg-midnight {
  background: var(--midnight);
}

.bg-night-sky {
  background: var(--night-sky);
}

.bg-twilight {
  background: var(--twilight);
}

.gap-100 {
    gap: 1rem;
}

.gap-150 {
    gap: 1.5rem;
}

.gap-200 {
    gap: 2rem;
}

.partial-width {
  width: 100%;
  max-width: 32rem;
  margin: 0 auto;
}

.full-width {
  width: 100%;
}

.hidden {
  display: none;
}

.fit-height {
  height: fit-content;
}

.no-scroll {
  overflow: hidden;
}

.no-pointer-events {
  pointer-events: none;
}

.content-block {
  box-sizing: border-box;
  padding: 2.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* specific elements */
html {
  height: 100vh;
}

body {
  background-color: var(--night-sky);
  color: white;
  font-family: "Inclusive Sans", sans-serif;
  font-size: 0.875rem;
  margin: 0;
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

section {
  padding: 2rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
    font-size: 0.875rem;
    line-height: 140%;
    margin-block-end: 0;
    width: 100%;
    margin-block-start: 0.5rem;
}

h1,
h2,
h3 {
  font-size: 1.25rem;
  margin-block: 0;
  font-family: "Shantell Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "BNCE" 30, "INFM" 50, "SPAC" 0;
}

ul {
  display: flex;
  list-style: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  font-style: italic;
  flex-wrap: wrap;
  justify-content: center;
}

li a,
li a:visited,
a,
a:visited {
  color: white;
  text-decoration: underline;
}

li a:hover,
a:hover,
li a:focus-visible,
a:focus-visible {
  text-decoration: underline wavy;
  outline: none;
}

footer {
  box-sizing: border-box;
  padding: 2rem 1rem 4rem;
}

#hero {
  display: flex;
  flex-direction: column;
  padding: 0;
}

#hero img {
  width: 100%;
}

#greeting {
  flex: 1 0 0;
  padding: 2rem 0;
}

#greeting img {
  max-width: 80%;
}

button, .journal-button {
  padding: 0.75rem 1rem;
  font-family: "Shantell Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "BNCE" 30, "INFM" 50, "SPAC" 0;
  font-size: 1rem;
  border-radius: 0.25rem;
  border: none;
  color: var(--cloud);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  touch-action: manipulation;
}

.red-button {
  background: var(--rudolph);
  box-shadow: 0px 4px 0px 0px var(--brick);
}

.blue-button {
  background: var(--twilight);
  box-shadow: 0px 4px 0px 0px var(--midnight);
}

#snow-fab {
  font-size: 0.75rem;
  padding: 0.75rem 1rem;
  position: fixed;
  bottom: 1.25rem;
  right: 1.25rem;
  z-index: 99;
}

button:active {
  cursor: pointer;
}

@media (hover: hover) {
  .blue-button:hover, .red-button:hover, .journal-button:hover {
    cursor: pointer;
    transform: translate(0px, -4px);
    transition: 0.5s;
  }
  
  .blue-button:hover {
    background: linear-gradient(
        0deg,
        var(--night-sky-30) 0%,
        var(--night-sky-30) 100%
      ),
      var(--twilight);
    box-shadow: 0px 8px 0px 0px var(--midnight);
    transition: 0.2s;
  }

  .red-button:hover {
    background: linear-gradient(0deg, var(--brick-50) 0%, var(--brick-50) 100%),
      var(--rudolph);
    box-shadow: 0px 8px 0px 0px var(--brick);
  }
}

#close-quiz-button {
  padding: 0.625rem;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

/* carousel */

.carousel-container {
    box-sizing: border-box;
  background-color: white;
  padding: 1rem 1rem 4rem;
  border-radius: 0.25rem;
  box-shadow: 0px 4px 4px 0px var(--midnight-60);
}

.carousel-slide {
    height: 30rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    flex-direction: column;
    position: relative;
}

.carousel-slide img {
    height: 100%;
  max-height: 30rem;
  width: 100%;
  object-fit: contain;
}

.caption {
    color: var(--midnight);
    padding-top: 1rem;
    font-size: 0.75rem;
}

/* cindy recap specific */

.journal h2,h3 {
    margin-block-start: 2rem;
    margin-block-end: 0;
}
.journal h3 {
    font-size: 1rem;
}

.journal p {
  font-size: 0.875rem;
  line-height: 160%;
  margin-block-start: 0.875rem;
  margin-block-end: 0;
  text-align: left;
  width: 100%;
}

.journal-hero {
    max-width: 24rem;
  width: 80%;
  background-color: var(--midnight-60);
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 6.5rem;
  border-radius: 0.25rem;
}

.journal img {
  width: 100%;
}

.journal-carousel {
    margin: 2rem 1rem;
    box-sizing: border-box;
}